
/* Your CSS Code here. */
 .img1{
    height: 200px;
    width: 110px;
}
.img2{
    height: 200px;
    width: 110px;
   
}
.img3{
    height: 200px;
    width: 110px;
   
}
.img4{
    height: 200px;
    width: 110px;
   
}